
a{
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover{
    font-size: larger;
    text-align: center;
}

h1 {
    font-family: 'Cooper';
    text-align: center;
}

body{
    font-family: "Comic sans MS"
}

.date{
    font-size: 10px;
    color: grey;
}
#container {
    display: grid;
    grid-template-columns:
    1fr 15% 25% 20% 20% 1fr;
    grid-template-areas:
    ".   tel   mail   LI    github ."
    "edu edu   edu    lang  lang   lang";
}

.info{
    padding-bottom: 10%;
    color: blue;
}

.char{
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
}

#edu{grid-area: edu;}

#lang{grid-area: lang;}

#tel{grid-area: tel;}

#mail{grid-area: mail;}

#github{
    grid-area: github;
    color: black;
}

#linkedin{
    grid-area: LI;
    color: rgb(53, 75, 175);
}

div>span{
    font-size: 20px;
    color: rgb(50, 98, 13);
}